@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.square{
    width: 80px;
    height: 80px;
    margin: 30px auto;
    background-color: #8bc34a;

    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation: spin 2s cubic-bezier(0.655, -0.560, 0.230, 1.415) infinite;

}

.square:hover{
    animation-play-state: paused;
}

@keyframes spin{

    0% {
        transform: rotate(0deg); 
    }

    25%, 50%{
        background-color: #FFEB3B;
    }

    100% {
        transform: rotate(360deg);
    }
}